/* pokedex */
.pokedex-image-container {
  position: relative;
  width: 50%;
  
  margin: 0 auto;
}

.pokedex-image {
  width: 100%;
  max-height: 400px auto;
}

.pokedex-pokemon-container {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pokedex-pokemon-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  width: 200px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* team builder */

.team-container {
  margin-top: 20px;
}

.team-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.team-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.team-pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.team-pokemon-card img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

.team-pokemon-card div {
  margin-top: 10px;
  text-align: center;
}

.team-pokemon-card h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.team-pokemon-card button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-results-container {
  margin-top: 20px;
}

.search-results-heading {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.search-results-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.search-results-pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

.search-results-pokemon-card img {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.search-results-pokemon-card div {
  margin-top: 10px;
  text-align: center;
}

.search-results-pokemon-card h3 {
  font-size: 14px;
  margin-bottom: 5px;
}

.search-results-pokemon-card p {
  font-size: 12px;
  margin-bottom: 10px;
}

.search-results-pokemon-card button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* home cards */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f8f8f8;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}


/* general */
.poke-container {
  background: rgba(255, 255, 255, 0.228);
  width: 90vw;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 5px #c3c3c3;
}


body {
  background-color: #0B1B3D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
}

h1 {
  font-size: 24px;
  margin: 0;
}

div {
  display: block;
}


/* Navbar */
.navbar-container {
  width: 100%;
}


.navbar-container {
  width: 100%;
}

.navbar {
  background: radial-gradient(ellipse at center, #3d3d3d 0%, #0B1B3D 57%);
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 9em;
}



.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 95, 95);

}

.navbar-brand:hover {
  opacity: 0.8;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 3px;
}

.nav-link {
  display: block;
  padding: 30px;
  /* background-color: #f2f2f28e; */
  color: rgb(255, 255, 255);
  border: 1px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  opacity: 0.8;
  background-color: #e2e2e2;
}

.nav-link.active {
  background-color: transparent;
  border: 1px solid #ccc;
}




/* Searchbar */
.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-input {
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}

.search-button {
  background-color: #fff;
  color: #e53935;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #f2f2f2;
}

.search-button:focus {
  outline: none;
}

.search-button:active {

  transform: translateY(1px);
}