
/* pokedex */
.image-container {
  position: relative;
}

.gamer-image {
  position: absolute;
  top: 60px;
  left: 40px;
  z-index: -1;
  width: 80%;
  height: auto;
}

.search-results {
  
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  flex-wrap: wrap; /* Allow the results to wrap to a new line if needed */
  margin-top: 20px; /* Add some top margin for spacing */
}

.pokemon-card {
  width: 18rem;
  margin: 10px; /* Add some margin between the cards */
  /* Add any additional styling for the card */
}


/* home cards */
.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #f8f8f8;
  font-weight: bold;
}

.card-body {
  padding: 20px;
}


/* general */
.poke-container {
  background: rgba(255, 255, 255, 0.228);
  width: 90vw;
  border-radius: 10px;
  margin: 2rem auto;
  padding: 1rem;
  box-shadow: 0 0 5px #c3c3c3;
}


body {
  background-color: #0B1B3D;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  align-items: center;
  display: flex;
}

h1 {
  font-size: 24px;
  margin: 0;
}

div {
  display: block;
}


/* Navbar */


.navbar-container {
  width: 100%;
}

.navbar {
  background: radial-gradient(ellipse at center, #3d3d3d 0%, #1e1e1e 57%);
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 9em;
}



.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(255, 95, 95);

}

.navbar-brand:hover {
  opacity: 0.8;
}

.navbar-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  margin: 3px;
}

.nav-link {
  display: block;
  padding: 30px;
  /* background-color: #f2f2f28e; */
  color: rgb(255, 255, 255);
  border: 1px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  opacity: 0.8;
  background-color: #e2e2e2;
}

.nav-link.active {
  background-color: transparent;
  border: 1px solid #ccc;
}




/* Searchbar */
.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-input {
  border: none;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}

.search-button {
  background-color: #fff;
  color: #e53935;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #f2f2f2;
}

.search-button:focus {
  outline: none;
}

.search-button:active {

  transform: translateY(1px);
}


